@import "tailwindcss";

/* Base Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #2E2E2E;
  --font-body: var(--font-karla);
}

@theme inline {
  /* Brand Colors */
  --color-brand-black: #6E6A6F;
  --color-brand-white: #FBF9FF;
  --color-brand-blush: #BFAFA6;

  /* Font Variables (from next/font) */
  --font-body: var(--font-karla);

  /* Defaults */
  --color-background: var(--color-brand-white);
  --color-foreground: var(--color-brand-black); /* or adjust if charcoal defined */
}

@font-face {
  font-family: 'AntroVectra';
  src: url('/fonts/Antro_Vectra.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AntroVectraBold';
  src: url('/fonts/Antro_Vectra_Bolder.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-antro {
  font-family: 'AntroVectra', cursive;
}

.font-antro-bold {
  font-family: 'AntroVectraBold', cursive;
}


html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body), sans-serif;
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  display: flex;
  width: max-content;
}